.website-logo {
  height: 30px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .website-logo {
    height: 40px;
  }
}

.score-timer-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@media screen and (min-width: 576px) {
  .score-timer-items-container {
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
  }
}

.score-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .score-item {
    padding-right: 20px;
  }
}

.score-text {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0px;
}
@media screen and (min-width: 768px) {
  .score-text {
    font-size: 20px;
  }
}
.score-number-text {
  color: #fec653;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 0px;
  padding-left: 4px;
}

@media screen and (min-width: 768px) {
  .score-number-text {
    font-size: 25px;
  }
}

.timer-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.timer-icon {
  height: 18px;
  padding-right: 4px;
}
@media screen and (min-width: 768px) {
  .timer-icon {
    height: 28px;
    padding-right: 5px;
  }
}

.timer-running-text {
  color: #fec653;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 0px;
}
@media screen and (min-width: 768px) {
  .timer-running-text {
    font-size: 25px;
    padding-right: 4px;
  }
}
.timer-sec-text {
  color: #fec653;
  font-size: 17px;
  font-weight: 500;
  margin: 5px 0px;
}
